Screen {
    layout: grid;
    grid-size: 3 3;
    grid-rows: 1fr 10fr 2fr;
}

#header-widget {
    column-span: 3;
    height: 100%;
    border: none;
}
#file-browser {
    row-span: 2;
}
.grid {
    height: 100%;
    border: solid #1c6fff;
}